{% extends 'base.html' %}


{% block main %}

<div class="row">
    <div class="col-sm">
        one of three columns
    </div>
    <div class="col-sm">
     Olá {{usuario.funcionario.nome}}
        <a href="{% url 'lista_funcionarios' %}">Gerencia funcionarios</a>
         <a href="{% url 'lista_departamentos' %}">Gerencia departamentos</a>
    </div>

    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>
         {% if usuario.funcionario.empresa %}
            <a href="">Editar empresa</a>
        {% else %}
            <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {% endif%}


    </div>
</div>

{% endblock%}